body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
}

body {
    background: hsl(0, 0%, 80%);
    transition: background-color .3s;
}

.ground {
    position: absolute;
    bottom: 0;
    width: 19px;
    background: #151515;
    box-shadow: 0px -6px 0px rgba(0,0,0,0.5);
}

.cloud {
    position: absolute;
    width: 64px;
    height: 64px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    box-shadow: 25px 2px 0px -6px rgba(255, 255, 255, 0.5),
                -34px 6px 0px -9px rgba(255, 255, 255, 0.6),
                49px 8px 0px -13px rgba(255, 255, 255, 0.4);
}

.dark .cloud {
    width: 6px;
    height: 6px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

#player {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#dino {
    position: absolute;
    left: 125px;
    width: 14px;
    height: 27px;
    bottom: 100px;
    display: none;
    background: url(Gwoek.png) no-repeat;
}

.dark #dino {
    box-shadow: 0px 0px 50px rgba(256, 256, 256, 0.5);
}

#gameover,
#score,
#splash,
#topscore {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
}

#gameover {
    top: 30vh;
    display: none;
    font-size: 8vmin;
    line-height: 8vmin;
    text-shadow: 0px 1px 0px black,
                 0px 2px 0px black, 0px 3px 0px black,
                 0px 4px 0px rgba(0, 0, 0, 0.5),
                 0px 5px 0px rgba(0, 0, 0, 0.5),
                 0px 6px 0px rgba(0, 0, 0, 0.5);
}

#score {
    top: 5vh;
    font-size: 3vmin;
    text-shadow: 0px 1px 0px black,
                 0px 2px 0px rgba(0, 0, 0, 0.5),
                 0px 3px 0px rgba(0, 0, 0, 0.5);
}

#topscore {
    top: 2vh;
    font-size: 2vmin;
    text-shadow: 0px 1px 0px black,
                 0px 2px 0px rgba(0, 0, 0, 0.5),
                 0px 3px 0px rgba(0, 0, 0, 0.5);
}

#splash {
    top: 40vh;
    font-size: 2vmin;
    line-height: 4vh;
    text-shadow: 0px 1px 0px black,
                 0px 2px 0px black,
                 0px 3px 0px black;
}

#splash h2 {
    font-size: 4vmin;
}

#twitter,
#retry,
#trynew {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 3vmin;
    text-shadow: 0px 1px 0px black,
                 0px 2px 0px black;
}
